CIVI Constituent Summary or Constituent Detail: https://plum.greenehillfood.coop/civicrm/report/instance/1?reset=1&output=criteria

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import datetime
import itertools
from datetimerange import DateTimeRange
import pickle
import sqlalchemy

In [2]:
os.chdir('/home/candela/Documents/greeneHill/membershipReportsCIVI/membershipReportingLogicSampleReports')

In [4]:
os.listdir()

['memberDirectory.csv',
 'selectActivityReport_20230729.csv',
 'selectActivityReport_20230709.csv',
 'membershipCurrentMembershipDetailReport.csv',
 'converted_one_month.csv',
 'converted2Month_toFullMember.csv',
 'membershipAllTrialDetailReport.csv',
 'sourceEmailCounts.csv',
 'membershipAllEncompassingReport.csv',
 'newMember_ao_prevMonthEnd.csv',
 'type_df_07022023.csv',
 'membershipConvertedTrialCY2022.csv',
 'deactivationReport_ao_prevMonthEnd.csv',
 'trialMembers_ao_prevMonthEnd.csv',
 'zucchini_ao_prevMonthEnd.csv',
 'selectActivityReport_062923.csv',
 'select_activity_report.csv']

In [3]:
members = pd.read_csv('./memberDirectory_20240106.csv')

In [4]:
#rename the columns and remove blank spaces
members.columns = [i.replace(' ','_').lower() for i in members.columns]

In [5]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8381 entries, 0 to 8380
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_name  8378 non-null   object
 1   first_name    8319 non-null   object
 2   last_name     8313 non-null   object
 3   contact_id    8381 non-null   int64
 4   email         8371 non-null   object
 5   phone         7760 non-null   object
dtypes: int64(1), object(5)
memory usage: 393.0+ KB

In [6]:
members.head()

,contact_name,first_name,last_name,contact_id,email,phone
0,NaN,NaN,NaN,8471,NaN,NaN
1,NaN,NaN,NaN,8472,NaN,NaN
2,NaN,NaN,NaN,8473,NaN,NaN
3,":Earle, :Cornel",:Cornel,:Earle,696,cornel.cassius.earle@protonmail.ch,(646) 763-2565
4,"A Bongo, Ryan",Ryan,A Bongo,7121,ryanalexandrabongo@gmail.com,9738095007

In [7]:
#QA: any duplicates? 
members.groupby('email').size().sort_values(ascending = False)
sum(members.groupby('email').size()>1) # only 26 duplicates

28

In [8]:
# DEFINE THE DATABASE CREDENTIALS
user = 'root'
password = 'baeldung'
host = '172.17.0.2'
port = 3306
database = 'membership'

def get_connection():
	return sqlalchemy.create_engine(
		url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
			user, password, host, port, database
		)
	)

if __name__ == '__main__':

	try:
	
		# GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
		engine = get_connection()
		print(
			f"Connection to the {host} for user {user} created successfully.")
	except Exception as ex:
		print("Connection could not be made due to the following error: \n", ex)

Connection to the 172.17.0.2 for user root created successfully.

In [9]:
try:
    frame = members.to_sql('member_directory', con=engine, if_exists='replace', index=False)
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%'mem_status');   
finally:
    engine.dispose()

Table mem_status created successfully.