CIVI Constituent Summary or Constituent Detail: https://plum.greenehillfood.coop/civicrm/report/instance/1?reset=1&output=criteria
<br> This report is preferable because this is most useful when contacting prospective members (email & phone included)

## no longer need to run this because this is handled in trialShoppingWorkflow.ipynb

In [1]:
import os
import pandas as pd
import re
import datetime
import itertools
import pickle
import sqlalchemy

In [2]:
os.chdir('/home/mofongo/Documents/ghfc/membershipReportsCIVI/membershipReportingLogicSampleReports')

In [3]:
members = pd.read_csv('./constituentSummaryReport_20250209.csv')
# previous working version pointed to memberDirectory_20240106.csv'

In [4]:
#rename the columns and remove blank spaces
members.columns = [i.replace(' ','_').lower() for i in members.columns]

In [7]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9632 entries, 0 to 9631
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_name  9629 non-null   object
 1   first_name    9519 non-null   object
 2   last_name     9513 non-null   object
 3   contact_id    9632 non-null   int64
 4   email         9621 non-null   object
 5   phone         8869 non-null   object
dtypes: int64(1), object(5)
memory usage: 451.6+ KB

In [8]:
members.head()

,contact_name,first_name,last_name,contact_id,email,phone
0,NaN,NaN,NaN,8471,NaN,NaN
1,NaN,NaN,NaN,8472,NaN,NaN
2,NaN,NaN,NaN,8473,NaN,NaN
3,":Earle, :Cornel",:Cornel,:Earle,696,cornel.cassius.earle@protonmail.ch,(646) 763-2565
4,"A Bongo, Ryan",Ryan,A Bongo,7121,ryanalexandrabongo@gmail.com,9738095007

In [5]:
#QA: any duplicates? 
members.groupby('email').size().sort_values(ascending = False)
sum(members.groupby('email').size()>1) # only 26 duplicates

43

In [6]:
# DEFINE THE DATABASE CREDENTIALS
user = 'root'
password = 'baeldung'
host = '172.17.0.2'
port = 3306
database = 'membership'

def get_connection():
	return sqlalchemy.create_engine(
		url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
			user, password, host, port, database
		)
	)

if __name__ == '__main__':

	try:
	
		# GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
		engine = get_connection()
		print(
			f"Connection to the {host} for user {user} created successfully.")
	except Exception as ex:
		print("Connection could not be made due to the following error: \n", ex)

Connection to the 172.17.0.2 for user root created successfully.

In [7]:
try:
    frame = members.to_sql('member_directory2', con=engine, if_exists='replace', index=False)
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%'mem_status');   
finally:
    engine.dispose()

(pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'172.17.0.1' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)