CIVI Constituent Summary or Constituent Detail: https://plum.greenehillfood.coop/civicrm/report/instance/1?reset=1&output=criteria
<br> This report is preferable because this is most useful when contacting prospective members (email & phone included)

In [20]:
import os
import pandas as pd
import re
import datetime
import itertools
import pickle
import sqlalchemy

In [15]:
os.chdir('/home/candela/Documents/greeneHill/membershipReportsCIVI/membershipReportingLogicSampleReports')

In [16]:
members = pd.read_csv('./constituentSummaryReport_20240414.csv')
# previous working version pointed to memberDirectory_20240106.csv'

In [18]:
#rename the columns and remove blank spaces
members.columns = [i.replace(' ','_').lower() for i in members.columns]

In [9]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8666 entries, 0 to 8665
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_name  8663 non-null   object
 1   first_name    8589 non-null   object
 2   last_name     8583 non-null   object
 3   contact_id    8666 non-null   int64
 4   email         8656 non-null   object
 5   phone         8004 non-null   object
dtypes: int64(1), object(5)
memory usage: 406.3+ KB

In [19]:
members.head()

,contact_name,first_name,last_name,contact_id,email,phone
0,NaN,NaN,NaN,8471,NaN,NaN
1,NaN,NaN,NaN,8472,NaN,NaN
2,NaN,NaN,NaN,8473,NaN,NaN
3,":Earle, :Cornel",:Cornel,:Earle,696,cornel.cassius.earle@protonmail.ch,(646) 763-2565
4,"A Bongo, Ryan",Ryan,A Bongo,7121,ryanalexandrabongo@gmail.com,9738095007

In [21]:
#QA: any duplicates? 
members.groupby('email').size().sort_values(ascending = False)
sum(members.groupby('email').size()>1) # only 26 duplicates

31

In [22]:
# DEFINE THE DATABASE CREDENTIALS
user = 'root'
password = 'baeldung'
host = '172.17.0.2'
port = 3306
database = 'membership'

def get_connection():
	return sqlalchemy.create_engine(
		url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
			user, password, host, port, database
		)
	)

if __name__ == '__main__':

	try:
	
		# GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
		engine = get_connection()
		print(
			f"Connection to the {host} for user {user} created successfully.")
	except Exception as ex:
		print("Connection could not be made due to the following error: \n", ex)

Connection to the 172.17.0.2 for user root created successfully.

In [23]:
try:
    frame = members.to_sql('member_directory2', con=engine, if_exists='replace', index=False)
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%'mem_status');   
finally:
    engine.dispose()

Table mem_status created successfully.